@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*@font-face {
    font-family: 'robot-local';
    src: url(../assets/fonts/Roboto-Bold.ttf);

}*/


h1 {
    color: rgb(243, 224, 210);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}

header {
    background: transparent;
    padding: 30px;
    z-index: 2;
    position: relative;
}

.header-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.toggle-button {
  border: 0;
  background-color: transparent;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-img {
  width: 120px;
  height: 40px;
}

nav ul{ 
    text-align: center;
}
nav ul li {
    display: inline-flex;
}
.nav-link{
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding: 20px;
}

.nav-link:hover {
    color: rgb(145, 109, 65);
}

h2 {
    color: rgb(214, 177, 177);
    font-family: 'Poppins', sans-serif;
    padding: 60px;
    text-decoration: none;

}


.historia {
    background-color: #faebd7;
    font-family: 'Poppins', sans-serif;
    padding: 60px;
    text-align: left;
}
.grilla {
    min-height: 100vh;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7,350px);
    grid-template-areas: 
    'area1 area1 area2 area2'
    'area3 area3 area2 area2'
    'area3 area3 area4 area4'
    'area5 area5 area6 area6'
    'area5 area5 area6 area6'
    'area7 area7 area6 area6'
    'area7 area7 area8 area8'
    
    ;
    gap: 10px;
}

.cajita {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #130404;
    box-shadow: 5px 5px 5px 0px #130404;
}

.cajita img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c1 {
    grid-area: area1;
}

.c2 {
    grid-area: area2;
}

.c3 {
    grid-area: area3;
}

.c4 {
    grid-area: area4;
}

.c5 {
    grid-area: area5;
}

.c6 {
    grid-area: area6;
}

.c7 {
    grid-area: area7;
}

.c8 {
    grid-area: area8;
}


main {
    /* background-color: rgb(189, 189, 53); */
    font-family: 'Poppins', sans-serif;
    padding: 60px;
    text-decoration: none;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;

}

.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

}

.inner-img {
    position: absolute;
    top: 0;
    left: 0;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    padding: 30px;
    text-align: center;
}

.fo {
    z-index: 1;
    position: relative;

}

.card_body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(138, 118, 96);
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.card_body:hover {
    background-color: rgb(70, 97, 128);
}

.card_body:hover img {
    width: 40%;
    border-radius: 5%;
    filter: grayscale(0);
}

.card_body:nth-child(odd){
    flex-direction: row-reverse;
}

.card_body:nth-child(odd):hover {
    background-color: rgb(131, 63, 31);
}


.card_body img {
    width: 35%;
    height: 400px;
    object-fit: cover;
    transition: 0.5s;
    filter: grayscale(100%);
}

.caja_content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    

}

.card_body h2 , .card_body p {
    padding: 15px;
    text-align: left;
}

fomr {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(81, 81, 114);
    z-index: 2;
    position: relative;
    min-height: 200px;
}
.footer-text {
    padding-left: 60px;
    padding-bottom: 60px;
}

footer ul li {
    display: inline-flex;
}

.section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  width: 70%;
}

.images {
  display: flex;
  justify-content: center;
}

.imagen-mapa {
    padding-inline-start: 0%;
}

.parrafo-mapa {
    padding-top: 20px;
    padding-bottom: 0px;
}

.mobile-nav {
  display: none;
}
/* @media screen and (max-width:500px) {

    .card_body img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: 0.5s;
        filter: grayscale(100%);
    }

    .card_body:hover img {
        width: 95%;
        border-radius: 5%;
        filter: grayscale(0);
    }

    .cajita {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 2px #130404;
        
    }


} */




@media screen and (max-width:1000px) {

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    width: fit-content;
    margin: 0;
    display: flex;
    align-items: center;
    justify-self: flex-end;
  }

  .drawer-color {
    background-color: rgb(61, 79, 107);
  }
    nav, nav ul li {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .header-title-container {
      flex-direction: column;
    }

    .grilla {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .cajita {
        height: fit-content;
    }
    
    .cajita img {
        height: auto;
    }

    .card_body {
        display: block;
        justify-content: space-between;
        width: 100%;
        background-color: rgb(138, 118, 96);
        font-family: 'Poppins', sans-serif;
        margin-right: 20px;
        margin-bottom: 20px;
        transition: 0.5s;
    }

    .card_body img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        transition: 0.5s;
        filter: grayscale(100%);
    }

    .card_body:hover img {
        width: 95%;
        border-radius: 5%;
        filter: grayscale(0);
    }

    h2 {
        color: rgb(214, 177, 177);
        font-family: 'Poppins', sans-serif;
        padding: 60px;
        text-decoration: none;
        text-align: center;
    
    }

    h3 {
        color: rgb(71, 29, 29);
        font-family: 'Poppins', sans-serif;
        padding: 30px;
        text-align: center;
    
    }

    .card_body h2 , .card_body p {
        padding: 15px;
        text-align: center;
    }

    .parrafo-mapa {
        padding-top: 20px;
        padding-bottom: 0px;
        text-align: center;
        
    }

    h4 {
        color: rgb(71, 29, 29);
        font-family: 'Poppins', sans-serif;
        padding: 30px;
        text-align: center;
    
    }

    .p-major {
        text-align: center;
    }

    .video-major { 
        justify-content: center;
    }

    .nav-link {
      font-size: 16px;
    }
}        
