.carousel-control-next {
    width: 75%;
}

.carousel-indicators {
    width: 40%;
    text-align: center;
}

.carousel-inner {
    width: 70%;
    height: 20%;

}

.imagen-mapa {
    padding-inline-start: 0%;
}

.parrafo-mapa {
    padding-top: 20px;
    padding-bottom: 0px;
    
}
