h1 {
    color: $title-color;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;

}

h2 {
    color: $h2-color;
    font-family: 'Poppins', sans-serif;
    padding: 60px;
    text-decoration: none;

}